<%= form_with(model: [@company, @customer], class: "contents") do |form| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
        <% @customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-white p-4 grid gap-8 rounded-lg shadow-xl py-8 mt-4">
    <!-- start:: Horizontal Form Layout -->
    <div>
      <div class="mt-6">
        <form>
          <div class="flex items-center my-4">
            <label class="w-50">Name</label>
            <%= form.text_field :name, class: "flex-1 py-1 border-gray-300 ml-14 rounded focus:border-gray-300 focus:outline-none focus:ring-0" %>
          </div>
          <div class="flex items-center my-4">
            <label class="w-50">Phone</label>
            <%= form.text_field :phone, class: "flex-1 py-1 border-gray-300 ml-14 rounded focus:border-gray-300 focus:outline-none focus:ring-0" %>
          </div>
          <div class="flex gap-2 ml-24 mt-6">
            <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
            <%= link_to 'Back to customers', company_customers_path(@company), class: "ml-2 rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium" %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
