<div class="bg-white rounded-lg px-8 py-6">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="mt-8 mb-3 flex flex-col md:flex-row items-start md:items-center md:justify-between">
    <div class="flex items-center justify-center space-x-4">
      <h4 class="text-xl font-semibold">Customers</h4>
    </div>
    <div class="mt-4 md:mt-0">
      <%= link_to 'New customer', new_company_customer_path, class: "rounded-lg py-3 px-5 bg-blue-950 hover:bg-blue-800 text-white font-medium h-10 w-32" %>
    </div>
  </div>
  <% if @customers.any? %>
    <table class="w-full my-8">
      <thead class="bg-blue-950 text-gray-100 font-bold">
        <tr>
          <td class="py-2 pl-2">
            Name
          </td>
          <td class="py-2 pl-2">
            Phone
          </td>
          <td class="py-2 pl-2">
            Status
          </td>
          <td class="py-2 pl-2 text-center">
            Stamps
          </td>
          <td class="py-2 pl-2">
            Date
          </td>
          <td class="py-2 pl-2">
          </td>
        </tr>
      </thead>
      <tbody class="text-sm">
        <% @customers.each do |customer| %>
          <tr class="bg-gray-100 border-t-2 hover:bg-primary hover:bg-opacity-20 transition duration-200">
            <td class="py-3 pl-2 capitalize">
            <label class="font-semibold"> <%= customer.name %> </label>
            </td>
            <td class="py-3 pl-2">
              <%= customer.phone %>
            </td>
            <td class="py-3 pl-2">
              <span class="bg-green-500 px-1.5 py-0.5 rounded-lg text-gray-100">Active</span>
            </td>
            <td class="py-3 pl-2 text-center">
              <%= 8 %>
            </td>
            <td class="py-3 pl-2">
              <%= customer.created_at.strftime("%d/%m/%Y") %>
            </td>
            <td class="py-3 pl-2">
              <div class="mb-4">
                <%= link_to 'See customer', company_customer_path(@company, customer), class: 'bg-gray-300 hover:bg-opacity-90 px-2 py-1 mr-2 text-gray-700 rounded-lg' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="my-5">No customers found</p>
  <% end %>
</div>
