<div class="flex min-h-screen custom-scrollbar">
  <aside class="fixed bg-blue-950 inset-y-0 left-0 w-64 custom-scrollbar">
    <!-- start::Logo -->
    <div class="flex items-center justify-center bg-black bg-opacity-30 h-16">
      <h1 class="text-gray-100 text-lg font-bold uppercase tracking-widest">
        Fidelity Card
      </h1>
    </div>
    <!-- end::Logo -->
    <!-- start::Navigation -->
    <nav class="py-10 custom-scrollbar">
      <!-- start::Menu link -->
      <a href="./../../index.html" class="flex items-center text-gray-400 px-6 py-3 cursor-pointer hover:bg-black hover:bg-opacity-30 transition duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition duration-200" :class="linkHover ? 'text-gray-100' : ''" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="ml-3 transition duration-200" >
          Home
        </span>
      </a>
      <div>
        <div class="flex items-center justify-between text-gray-400 hover:text-gray-100 px-6 py-3 cursor-pointer hover:bg-black hover:bg-opacity-30 transition duration-200">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition duration-200" :class=" linkHover || linkActive ? 'text-gray-100' : ''" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
            <span class="ml-3">Email</span>
          </div>
        </div>
      </div>
    </nav>
  </aside>
  <div class="lg:pl-64 w-full flex flex-col">
    <!-- start::Topbar -->
    <div class="flex flex-col">
      <header class="flex justify-between items-center h-16 py-4 px-6 bg-white">
        <!-- start::Mobile menu button -->
        <div class="flex items-center">
          <button 
                                @click="menuOpen = true" 
                                class="text-gray-500 hover:text-primary focus:outline-none lg:hidden transition duration-200"
                            >
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path></svg>
          </button>
        </div>
        <!-- end::Mobile menu button -->
        <!-- start::Right side top menu -->
        <div class="flex items-center">
          <!-- start::Profile -->
          <div  x-data="{ linkActive: false }" class="relative">
            <!-- start::Main link -->
            <div @click="linkActive = !linkActive"
                                    class="cursor-pointer"
                                >
              logged as <%= current_user.email %>
            </div>
            <!-- end::Main link -->
          </div>
          <!-- end::Profile -->
        </div>
        <!-- end::Right side top menu -->
      </header>
    </div>
    <!-- end::Topbar -->
    <div class="bg-white rounded-lg px-8 py-6">
      <h4 class="text-xl font-semibold">Companies</h4>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <%= link_to 'New company', new_company_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <table class="w-full my-8 whitespace-nowrap">
        <thead class="bg-secondary text-gray-100 font-bold">
          <tr>
            <td class="py-2 pl-2">
              Name
            </td>
            <td class="py-2 pl-2">
              Description
            </td>
            <td class="py-2 pl-2">
              Status
            </td>
            <td class="py-2 pl-2">
              Date
            </td>
            <td class="py-2 pl-2">
              View Details
            </td>
          </tr>
        </thead>
        <tbody class="text-sm">
          <% @companies.each do |company| %>
            <tr class="bg-gray-100 hover:bg-primary hover:bg-opacity-20 transition duration-200">
              <td class="py-3 pl-2 capitalize">
                <%= company.name %>
              </td>
              <td class="py-3 pl-2">
                <%= company.description %>
              </td>
              <td class="py-3 pl-2">
                <span class="bg-green-500 px-1.5 py-0.5 rounded-lg text-gray-100">Active</span>
              </td>
              <td class="py-3 pl-2">
                <%= company.created_at.strftime("%d/%m/%Y") %>
              </td>
              <td class="py-3 pl-2">
                <a href="#" class="bg-primary hover:bg-opacity-90 px-2 py-1 mr-2 text-gray-100 rounded-lg">View Details</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
