<div id="<%= dom_id card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Custosmer:</strong>
    <%= @customer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= card.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= card.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max Score:</strong>
    <%= card.max_score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= card.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expires at:</strong>
    <%= card.expires_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this card", company_customer_card_path(@company, @customer, card), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this card', edit_company_customer_card_path(@company, @customer, card), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
