<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Fidelity Card</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex min-h-screen custom-scrollbar">
      <aside class="fixed bg-blue-950 inset-y-0 left-0 w-64 custom-scrollbar">
        <!-- start::Logo -->
        <div class="flex items-center justify-center bg-black bg-opacity-30 h-16">
          <h1 class="text-gray-100 text-lg font-bold uppercase tracking-widest">
            Fidelity Card
          </h1>
        </div>
        <!-- end::Logo -->
        <!-- start::Navigation -->
        <nav class="py-10 custom-scrollbar">
          <%= link_to companies_path, class: "flex items-center text-gray-400 px-6 py-3 cursor-pointer hover:bg-black hover:bg-opacity-30 transition duration-200" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition duration-200" :class="linkHover ? 'text-gray-100' : ''" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <span class="ml-3 transition duration-200" >
              Home
            </span>
          <% end %>
          <!-- start::Menu link -->
          <div data-controller="menu" data-action="click->menu#toggleSideMenu" data-menu-target="menu" class="h-15">
            <div class="flex items-center justify-between text-gray-400 hover:text-gray-100 px-6 py-3 cursor-pointer hover:bg-black hover:bg-opacity-30 transition duration-200 bg-black bg-opacity-30 text-gray-100" :class=" linkActive ? 'bg-black bg-opacity-30 text-gray-100' : ''">
              <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
                </svg>
                <span class="ml-3">Companies</span>
              </div>
              <svg data-menu-target="menuIcon" class="w-3 h-3 transition duration-300 rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </div>
            <ul data-menu-target="menuItems" class="text-gray-400 hidden">
              <% current_user.companies.each do |company| %>
                <li class="pl-10 pr-6 py-2 cursor-pointer hover:bg-black hover:bg-opacity-30 transition duration-200 hover:text-gray-100">
                  <%= link_to company_customers_path(company), class:"flex items-center" do %>
                    <span class="mr-2 text-sm">•</span>
                    <span class="overflow-ellipsis"><%= company.name %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- end::Menu link -->
        </nav>
      </aside>
      <div class="lg:pl-64 w-full flex flex-col">
        <!-- start::Topbar -->
        <div class="flex flex-col">
          <header class="flex justify-between items-center h-16 py-4 px-6 bg-gray-300">
            <!-- start::Mobile menu button -->
            <div class="flex items-center">
              <% if @company.present? %>
                <span> <%= "Welcome to <b>#{@company.name}</b>".html_safe %> </span>
              <% end %>
              <button class="text-gray-500 hover:text-primary focus:outline-none lg:hidden transition duration-200">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path></svg>
              </button>
            </div>
            <!-- end::Mobile menu button -->
            <!-- start::Right side top menu -->
            <div data-controller="menu" data-action="click->menu#toggleTopMenu" data-menu-target="menu" class="flex items-center">
              <!-- start::Profile -->
              <div  x-data="{ linkActive: false }" class="relative">
                <!-- start::Main link -->
                <div class="flex cursor-pointer">
                  <div class="flex">
                    logged as <%= current_user.email %>
                  </div>
                  <div class="flex pt-2">
                    <svg data-menu-target="menuIcon" class="w-3 h-3 transition duration-300 rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                  </div>
                </div>
                <!-- end::Main link -->
              </div>
              <!-- end::Profile -->
              <div  data-menu-target="menuItems" class="hidden">
                <!-- start::Submenu content -->
                <div class="bg-white rounded">
                  <!-- start::Submenu link -->
                  <a  href="./pages/profile.html" class="flex items-center justify-between py-2 px-3 hover:bg-gray-100 bg-opacity-20">
                    <div class="flex items-center">
                      <svg class="w-5 h-5 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                      <div class="text-sm ml-3">
                        <p class="text-gray-600 font-bold capitalize">Profile</p>
                      </div>
                    </div>
                  </a>
                  <!-- end::Submenu link -->
                  <!-- start::Submenu link -->
                  <a href="./pages/email/inbox.html" class="flex items-center justify-between py-2 px-3 hover:bg-gray-100 bg-opacity-20">
                    <div class="flex items-center">
                      <svg class="w-5 h-5 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
                      <div class="text-sm ml-3">
                        <p class="text-gray-600 font-bold capitalize">
                          Inbox
                          <span class="bg-red-600 text-gray-100 text-xs px-1.5 py-0.5 ml-2 rounded">3</span>
                        </p>
                      </div>
                    </div>
                  </a>
                  <!-- end::Submenu link -->
                  <!-- start::Submenu link -->
                  <a href="./pages/settings.html" class="flex items-center justify-between py-2 px-3 hover:bg-gray-100 bg-opacity-20">
                    <div class="flex items-center">
                      <svg class="w-5 h-5 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                      <div class="text-sm ml-3">
                        <p class="text-gray-600 font-bold capitalize">Settings</p>
                      </div>
                    </div>
                  </a>
                  <!-- end::Submenu link -->
                  <hr>
                  <!-- start::Submenu link -->
                  <form method="" class="flex items-center justify-between py-2 px-3 hover:bg-gray-100 bg-opacity-20">
                    <div class="flex items-center">
                      <svg class="w-5 h-5 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                      <button class="text-sm ml-3 text-gray-600 font-bold capitalize">
                        Log out
                      </button>
                    </div>
                  </form>
                  <!-- end::Submenu link -->
                </div>
                <!-- end::Submenu content -->
              </div>
            </div>
            <!-- end::Right side top menu -->
          </header>
        </div>
        <!-- end::Topbar -->
        <%= yield %>
      </div>
    </div>
  </body>
</html>
